.team-title {
    text-shadow: 0rem 0rem 3rem white;
}

.drop-down-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: stretch;
    flex-wrap: wrap;
    width:100%;
}

.column-left, .column-right {
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    gap:2rem;
}
