.Sponsor-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 10rem;
  }
  
  .sponsor-text {
    font-family: var(--font-darker-grotesque);
    font-size: x-large;
    text-align: center;
    margin: 0;
  }

  .sponsor-text-container {
    text-align: justify;
    padding: 0 1rem;
}
  
  .Sponsor-title {
    text-shadow: 0rem 0rem 3rem white;
  }
  
  .Sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 10rem;
  }
  
  .Sponsor-logo {
    background-color: #FFE9D7;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(50% - 10rem); /* split into 2 columns */
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    position: relative;
  }
  
  .Sponsor-logo:hover {
    box-shadow: 0rem 0rem 1.5rem white;
  }
  
  .sponsor-img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
  }
  
  .Sponsor-logo:hover .sponsor-img {
    opacity: 0;
  }
  
  .Sponsor-logo::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-image: var(--hover-image);
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .Sponsor-logo:hover::before {
    opacity: 1;
  }
  
@media screen and (max-width: 1280px) {
    .sponsor-title {
      height:8rem
    }

}

@media screen and (max-width: 1050px) {
    .sponsor-title {
      height:6rem
    }

    .Sponsor-container {
      padding: 1rem;
      padding-bottom: 6rem;
  }

  .sponsor-text {
      font-size: large;
  }
}

@media screen and (max-width: 600px) {
    .sponsor-title {
      height:6rem
    }

    .Sponsor-container {
      padding: 4rem;
  }

  .sponsor-text {
      font-size: large;
  }
}

.sponsor-title {
    filter: drop-shadow(0rem 0rem 4rem #992444);
}